<ng-include ng-controller="mainController" src="'partials/header.html'"></ng-include>

<div class="container">
  <div class="row text-center">
    <div class="btn-group-vertical background-lightblue mt-100">
      <div class="col-sm">
        <button type="button" class="btn btn-primary btn-lg" ng-click="goTeam1()">Team 1 Page</button>
      </div>
      <div class="col-sm mt-25">
        <button type="button" class="btn btn-secondary btn-lg" ng-click="goTeam2()">Team 2 Page</button>
      </div>
      <div class="col-sm mt-25">
        <button type="button" class="btn btn-info btn-lg" ng-click="goTeam3()">Team 3 Page</button>
      </div>
      <div class="col-sm mt-25">
        <button type="button" class="btn btn-danger btn-lg" ng-click="goTeam4()">Team 4 Page</button>
      </div>
      <div class="col-sm mt-25">
        <button type="button" class="btn btn-warning btn-lg" ng-click="goTeam5()">Team 5 Page</button>
      </div>
    </div>
  </div>
</div>
